.m15 { margin: 15px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mr15 { margin-right: 15px; }
.ml15 { margin-left: 15px; }
.fr { float: right; }
.fl { float: left; }
.dib { display: inline-block }
.pr { position: relative }
.h100 { height: 100% }
.w80px { width: 80px; }
.w100px { width: 100px; }
.w100 { width: 100%; }

.clr:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.clickable {
    cursor: pointer;
}