$break-large: 700px;
$break-medium: 500px;
$break-small: 400px;

$color-main: #19A2DE;
$color-light: #6BC2E8;
$color-text: #FFFFFF;
$color-red: #DC3545;
/*$color-red: rgb(212, 63, 58);*/
$color-green: #28A745;
$color-green-active: #567756;

