@import "constants.scss";

.modalOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(255,255,255,0.8);
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }

    .modal {
        display: inline-block;
        vertical-align: middle;
        background-color: white;
        border-radius: 4px;
        width: 350px;
        box-shadow: 0 0 0 1px rgba(14,41,57,.12), 0 2px 5px rgba(14,41,57,.44), inset 0 -1px 2px rgba(14,41,57,.15);

        .modalHeader {
            position: relative;
            text-align: center;
            color: $color-text;
            background: $color-light;
            border-radius: 4px 4px 0 0;

            span {
                font-size: 13px;
                line-height: 35px;
            }

            i {
                position: absolute;
                font-size: 15px;
                right: 9px;
                top: 9px;
            }
        }
    }
}

.timerContainer {
    margin: 50px 0;

    .timerSelector {
        position: relative;
        display: inline;
        margin: 0 auto;

        i:nth-of-type(1) {
            position: absolute;
            top: -20px;
            left: 1px;
        }

        i:nth-of-type(2) {
            position: absolute;
            bottom: -20px;
            left: 1px;
        }
    }

    > span {
        margin-left: 20px;
        margin-right: 20px;
    }
}
