@import 'constants.scss';

.textInput {
    position: relative;
    margin-bottom: 20px;

    input {
        color: #000;
        width: 100%;
        height: 42px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        padding: 0 50px 0 20px;
        outline: none;

        &.error {
            border-color: $color-red;
        }
    }

    i {
        color: $color-light;
        position: absolute;
        right: 30px;
        top: 13px;
        font-size: 18px;
    }

    span { 
        display: block;
        color: $color-red;
        font-size: 11px;
        margin-top: 3px;
    }

}

.dropdown {

    .box {
        position: relative;
        background-color: #FFF;
        color: #000;
        height: 42px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;

        &.open {
            border-radius: 5px 5px 0 0;
            border-width: 1px 1px 0 1px;
        }

        .placeholder {
            color: #777;
            margin-left: 20px;
        }

        i {
            position: absolute;
            top: 15px;
            right: 20px;
            color: #777;
        }
    }

    .options-container {
        position: relative;
        top: -1px;
        background-color: #FFF;
        border-color: #CCC;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 5px 5px;

        .option {
            padding-left: 20px;
            color: #000;
            line-height: 42px;
        }
    }
}

.alert {
    border-radius: 5px;
    border: 1px solid $color-red;
    color: $color-red;
    background-color: #f8d7da;
    font-size: 14px;
    padding: 12px 20px;

    ul {
        margin: 0;
        padding: 0;

        li {
            margin-left: 10px;
        }
    }
}

.btn {
    height: 42px;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: #FFF;
    background-color: $color-light;
    cursor: pointer;
    padding: 0 20px;

    /*&:active {
        background-color: #567756;
    }*/

    img {
        margin-top: 5px;
        height: 18px;
    }

    &.green {
        background-color: $color-green;
    }

    &.red {
        background: $color-red;
    }
}

