<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Richter</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/dist/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/dist/css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @*<div class="tileContainer">

            <div class="tile">
                <div>
                    <div>
                        <div class="tileTopRight">
                            <div class="fa fa-gear"></div>
                        </div>
                        <div class="tileCenter">
                            <div class="fa fa-lightbulb-o"></div>
                        </div>
                        <div class="tileBottomRight">
                            <div class="fa fa-refresh"></div>
                        </div>
                        <div class="tileLabel">Vardagsrum</div>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div>
                    <div>2</div>
                </div>
            </div>
            <div class="tile large">
                <div>
                    <div>3</div>
                </div>
            </div>
            <div class="tile">
                <div>
                    <div>4</div>
                </div>
            </div>
            <div class="tile">
                <div>
                    <div>5</div>
                </div>
            </div>

    </div>*@
    <div id="react-app"></div>
    
    <script src="~/dist/js/vendor.js" type="text/javascript"></script>
    <script src="~/dist/js/app.js" type="text/javascript"></script>
</body>
</html>
